.inf_tj_sucess{640px; overflow: hidden; margin: 0 auto 0;}
.inf_tj_sucess_icon{width: 220px; height: 220px; background: url("../../../images/meirong/shop/20160718_yy_fwh/inf_tj_sucess_icon.png") no-repeat; margin: 66px auto 0;}
.inf_tj_sucess_p1{width: 100%; color: #ff5ebd; font-size: 30px; line-height: 40px; text-align: center; margin-top: 20px;}
.inf_tj_sucess_p2{width: 100%; color: #7c7c7c; font-size: 30px; line-height: 40px; text-align: center;}







